<div class="panel small-11 small-centered columns">
	<div class="text-center">
	  <h1>Create Your Profile</h1>
      <p>Be a part of the Dev Match community and fill out your form!</p>
	</div>
</div>

<%= render 'form' %>